<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.icheck.android.ichecklibs">

    <application android:theme="@style/AppTheme">
        <activity android:name=".web.WebViewActivity" />
        <activity android:name=".CropImageActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".camera.CameraActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/CameraTheme" />
    </application>

</manifest>